body{
    background-color: black;
}

.grid {
    top: 50%;
    width: 300px;
    height: 300px;
    border: solid white 1px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid div {
    width: 20px;
    height: 20px;
}

.results {
    width: 170px;
    text-align: center;
    margin: auto;
    background-color: white;
    position: relative
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
    background-color: white;
}

.laser {
    background-color: greenyellow;
}

.boom{
    background-color: red;
}